<swiper [config]="config">
  <div class="swiper-wrapper" [ngStyle]="{'height.px': clientHeight-66}">
    <div class="swiper-slide voting-page" *ngFor="let entry of voteEntries">
      <h1 class="display-text placement-header">{{entry.placement}}. Plads</h1>
      <div><h1 class="display-text">{{entry.player.name}}</h1></div>

      <div><p><em>{{entry.votes}} {{entry.votes === 1 ? "stemme" : "stemmer"}}</em></p></div>
    </div>
    <div class="swiper-slide voting-page">
      <h1 class="display-text placement-header">Resultat</h1>
      <div class="canvas-container">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
