.swiper-wrapper {
  box-sizing: border-box;
  height:100%;
}

swiper{
  width: 100%;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.voting-page{
  padding: 5px 40px;
  text-align: center;
}

.placement-header{
  margin-top: 50px;
  display: inline-block;
  padding: 0 30px 7px;
  background-color: #2e6ca2;
  color: #f8f9fa;
  border-radius: 5px;
}

.display-text {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.2;
}

.canvas-container {
  display: block;
  margin-top: 30px;
}
