<div class="container-fluid">
  <button type="button" class="btn btn-primary btn-lg btn-block manager-btn" (click)="navigateTo('team-roster')">Mit Hold</button>
  <button type="button" class="btn btn-primary btn-lg btn-block manager-btn" (click)="navigateTo('event-types')">Point</button>
  <button type="button" class="btn btn-primary btn-lg btn-block manager-btn" (click)="navigateTo('matches-played')">Afsluttede kampe</button>
</div>
<nav class="navbar fixed-bottom navbar-light" style="background-color: white;">
  <button (click)="resetVote()" class="btn btn-outline-danger">Annullér alt</button>
  <button (click)="stopVoting()" class="btn btn-outline-primary">Afslut votering</button>
</nav>
