<div class="list-group">
  <div *ngFor="let player of players">
    <input type="checkbox" name="CheckBoxInputName" id="{{player.name}}" [disabled]="currentAppState === APP_STATES.VOTING_ONGOING"/>
    <label class="list-group-item" for="{{player.name}}"
           (click)="selectPlayer(player)"
           [ngClass]="{'disabled-label' : currentAppState === APP_STATES.VOTING_ONGOING}">{{player.name}}</label>
  </div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <p>{{selectedPlayers.length}} valgte spillere</p>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-danger" [ngClass]="{'active' : currentAppState != APP_STATES.VOTING_ONGOING}">
      <input type="radio" name="stop" id="stop" autocomplete="off" (click)="stopVoting()">Afslut
    </label>
    <label class="btn btn-outline-success" [ngClass]="{'active' : currentAppState === APP_STATES.VOTING_ONGOING}">
      <input type="radio" name="start" id="start" autocomplete="off" (click)="startVoting()">Start
    </label>
  </div>
</nav>
