<div *ngIf="currentAppState === APP_STATES.WAITING_FOR_MATCH || currentAppState === APP_STATES.VOTING_FINISHED">
  <div class="list-group">
    <div *ngFor="let player of players">
      <input type="checkbox" name="CheckBoxInputName" id="{{player.name}}" [disabled]="currentAppState === APP_STATES.VOTING_ONGOING"/>
      <label class="list-group-item" for="{{player.name}}"
             (click)="selectPlayer(player)"
             [ngClass]="{'disabled-label' : currentAppState === APP_STATES.VOTING_ONGOING}">{{player.name}}</label>
    </div>
  </div>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <p>{{selectedPlayers.length}} valgte spillere</p>
    <button (click)="startVoting()" class="btn btn-outline-success">Start</button>
  </nav>
</div>
<div *ngIf="currentAppState === APP_STATES.VOTING_ONGOING">
  <app-voting-progress></app-voting-progress>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <button (click)="resetVote()" class="btn btn-outline-danger">Annullér alt</button>
    <button (click)="stopVoting()" class="btn btn-outline-primary">Afslut votering</button>
  </nav>
</div>

