<ul class="list-group">
  <li class="list-group-item list-group-item-action" *ngFor="let player of teamRoster" (click)="openEditPlayerDialog(player)">{{player.name}}</li>
</ul>
<nav class="navbar fixed-bottom navbar-light" style="background-color: white;">
  <div>
    <button (click)="openEditPlayerDialog(null)" class="btn btn-outline-success start-btn">Tilføj spiller</button>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="editPlayerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Opret spiller</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Navn</label>
              <input type="text" class="form-control" id="name" placeholder="John Doe" [(ngModel)]="selectedPlayer.name" name="name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" placeholder="Driblekongen" required [(ngModel)]="selectedPlayer.title" name="title">
            </div>
          </div>
          <div class="form-group">
            <label for="position">Standardposition</label>
            <select id="position" class="form-control" required [(ngModel)]="selectedPlayer.position" name="position">
              <option selected>Forsvar</option>
              <option>Midtbane</option>
              <option>Angriber</option>
              <option>Målmand</option>
            </select>
          </div>
          <div class="form-group">
            <label for="shirtNo">Trøjenummer</label>
            <select id="shirtNo" class="form-control" required [(ngModel)]="selectedPlayer.shirtNo" name="shirtno">
              <option selected>Choose...</option>
              <option *ngIf="selectedPlayer.shirtNo">{{selectedPlayer.shirtNo}}</option>
              <option *ngFor="let shirtNo of availableShirtNos">{{shirtNo}}</option>
            </select>
          </div>
        </form>

      </div>
      <div class="modal-footer update-player-footer">
        <button type="button" class="btn btn-danger" (click)="deletePlayer()">Slet spiller</button>
        <span></span>
        <button type="button" class="btn btn-primary" (click)="createOrUpdate()">Gem</button>
      </div>
    </div>
  </div>
</div>

