<div>
  <div class="list-group">
    <div *ngFor="let player of teamRoster">
      <input type="checkbox" name="CheckBoxInputName" id="{{player.name}}" [disabled]="currentAppState === APP_STATES.VOTING_ONGOING"/>
      <label class="list-group-item" for="{{player.name}}"
             (click)="selectPlayer(player)"
             [ngClass]="{'disabled-label' : currentAppState === APP_STATES.VOTING_ONGOING}">{{player.name}}</label>
    </div>
  </div>
</div>
<nav class="navbar fixed-bottom navbar-light" style="background-color: white;">
    <span style="width: 40px;">
      <button class="menu-icon btn btn-outline-primary selected-players-counter active" [ngClass]="{'active': selectedPlayers.length == 14}" disabled>{{selectedPlayers.length}}/14</button>
    </span>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button class="menu-icon btn btn-outline-primary" disabled>Holdleder</button>
    <button class="menu-icon btn btn-outline-primary" [ngClass]="{'active': isTeamLeadPlaying}" (click)="isTeamLeadPlaying = true">Ja</button>
    <button class="menu-icon btn btn-outline-primary" [ngClass]="{'active': !isTeamLeadPlaying}" (click)="isTeamLeadPlaying = false">Nej</button>
  </div>
  <div>
    <button (click)="startVoting()" class="btn btn-outline-success start-btn">Start</button>
  </div>
</nav>
