.voting-button{
  background-color: #5b6cab;
  color: azure;
  border-radius: 0;
  &.active {
    background-color: #28a745;
    border-color: #22803f;
  }
}
.container {
  padding: 10px;
}

.voting-card {
  margin: 0 16px 16px;
  -webkit-box-shadow: 3px 3px 5px -1px rgb(27, 27, 55);
  -moz-box-shadow: 3px 3px 5px -1px rgb(27, 27, 55);
  box-shadow: 3px 3px 5px -1px rgb(27, 27, 55);
}
.shirt-no {
  color: azure;
  background-color: #5b6cab;
  padding: 3px 8px;
  margin-right: 6px;
  border-radius: 4px;
}
