.top-section {

}
.sub-section {
  margin-top: 20px;
}

.roster-section {
  height:500px;
  overflow-y: scroll;
}

.start-btn {
  margin-left: 10px;
}
.selected-players-counter {
  &.active {
    color: #fff;
    background-color: #2e6ca2;
    border-color: #2e6ca2;
  }
}

.list-group-item {
  user-select: none;
}

.list-group input[type="checkbox"] {
  display: none;
}

.list-group input[type="checkbox"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="checkbox"] + .list-group-item:before {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="checkbox"]:checked + .list-group-item {
  background-color: #2e6ca2;
  color: #FFF;
  &.disabled-label{
    background-color: #8ec7ff;
  }
}

.list-group input[type="checkbox"]:checked + .list-group-item:before {
  color: inherit;
}

