<ul class="list-group">
  <li href="#" class="list-group-item list-group-item-action"
      *ngFor="let eventType of eventTypes" (click)="openEditEventTypeDialog(eventType)">
    <h5><span class="badge" [ngClass]="{'badge-success': eventType.pointValue > 0, 'badge-danger': eventType.pointValue < 0}" >{{eventType.pointValue > 0 ? "Point" : "Bøde"}}</span> {{eventType.eventName}}</h5>
    <p>{{eventType.pointValue}} point</p>
  </li>
</ul>
<nav class="navbar fixed-bottom navbar-light" style="background-color: white;">
  <div>
    <button (click)="openEditEventTypeDialog(null)" class="btn btn-outline-success start-btn">Ny Begivenhed</button>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="editEventTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{selectedType._id ? "Redigér Begivenhed" : "Opret Begivenhed"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="eventName">Begivenhed</label>
            <input type="text" class="form-control" id="eventName" placeholder="Dagens detalje" [(ngModel)]="selectedType.eventName" name="name">
          </div>
          <div class="form-row">
            <div class="col">
              <div class="btn-group" role="group" aria-label="Basic example" id="penaltyIndicator">
                <button class="menu-icon btn btn-outline-danger" [ngClass]="{'active': selectedType.pointValue < 0}" (click)="setIsPenalty(true)">Bøde</button>
                <button class="menu-icon btn btn-outline-success" [ngClass]="{'active': selectedType.pointValue > 0}" (click)="setIsPenalty(false)">Point</button>
              </div>
            </div>
            <div class="col">
              <input type="text" class="form-control" id="value" placeholder="50" [(ngModel)]="selectedType.pointValue" name="pointvalue">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer update-player-footer">
        <button type="button" class="btn btn-danger" *ngIf="selectedType._id" (click)="deleteEventType()">Slet spiller</button>
        <span></span>
        <button type="button" class="btn btn-primary" (click)="createOrUpdate()">Gem</button>
      </div>
    </div>
  </div>
</div>

