<div class="container">
  <div class="counter-text">
    {{voteEntriesTotal}} / {{max}}
<!--    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>-->
  </div>
  <div class="inner-container">
    <round-progress
      [current]="voteEntriesTotal"
      [max]="max"
      [color]="'#2e6ca2'"
      [background]="'#eaeaea'"
      [radius]="100"
      [stroke]="5"
      [semicircle]="false"
      [rounded]="false"
      [clockwise]="true"
      [duration]="800"
      [animation]="'easeInOutQuart'"
      [animationDelay]="0">
    </round-progress>
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </div>
</div>
