<nav class="navbar navbar-light bg-light sticky-top">
  <button class="menu-icon btn btn-link" style="margin-left: 5px;" [ngClass]="{'active': activeView === 'voting'}">
    <i class="fas fa-vote-yea" (click)="activeView = 'voting'"></i>
  </button>
  <span class="mat-h2 title">EIF Old Boys</span>
  <button class="menu-icon btn btn-link" [ngClass]="{'active': activeView === 'manager'}" style="margin-right: 5px;">
    <i class="fas fa-tasks" (click)="tryActivateManagerView()" ></i>
  </button>
</nav>
<div *ngIf="activeView == 'voting'">
  <app-waiting-for-match *ngIf="currentAppState === APP_STATES.WAITING_FOR_MATCH"></app-waiting-for-match>
  <app-voting *ngIf="currentAppState === APP_STATES.VOTING_ONGOING"></app-voting>
  <app-player-votes *ngIf="currentAppState === APP_STATES.VOTING_FINISHED"></app-player-votes>
</div>
<div *ngIf="activeView == 'manager'">
  <app-manager-view></app-manager-view>
</div>
<!-- Modal -->
<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Type in the manager password</p>
        <div class="input-group flex-nowrap">
          <input id="passwordField" type="password" class="form-control" aria-label="Password" aria-describedby="addon-wrapping">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="tryAuthenticate()" >Submit</button>
      </div>
    </div>
  </div>
</div>
