<div class="standing-container">
  <span class="team">
    {{teamService.getTeam().longName}}
  </span>
  <span class="score-container">
    <span class="score">2 : 1</span>
    <span class="current-minute">Kampstart : {{match.date | date: 'shortTime'}}</span>
  </span>
  <span class="team">
    {{match.awayTeam}}
  </span>
</div>
<div *ngFor="let event of match.matchEvents" class="card match-event">
  <div class="card-header event-header">
    <span class="minute">{{getMatchTimeOfEvent(event.time)}}'</span>
    <span class="point"
          [ngClass]="{'positive': event.eventType.pointValue > 0, 'negative': event.eventType.pointValue < 0}">{{event.eventType.pointValue > 0 ? "+" : ""}}{{event.eventType.pointValue}}</span>
  </div>
  <div class="card-body">
    {{event.eventType.displayName}}
  </div>
</div>
