.standing-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  .team {
    font-size: larger;
  }
  .score-container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
    .score {
      display: block;
      font-weight: bolder;
      font-size: x-large;
    }
    .current-minute{
      display: block;
    }
  }
}
.match-event {
  margin-bottom: 20px;
}

.event-header {
  display: inline-flex;
  justify-content: space-between;

  .point {
    &.positive {
      color: #6aa61e;
    }
    &.negative {
      color: #a22e32;
    }
  }

  .minute {

  }
}
