.container {
  letter-spacing: .01em;
}

.match-event {
  margin-bottom: 20px;
}

.event-header {
  display: inline-flex;
  justify-content: space-between;

  .point {
    &.positive {
      color: #6aa61e;
    }
    &.negative {
      color: #a22e32;
    }
  }

  .minute {

  }
}
